@model PizzaWebApplication.Models.TempCustomerOrder

@{
    Layout = "_LayoutPortal";
    ViewData["Title"] = "CreateNewPizza";
}

<h1>Order Premade Pizza</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewPizza" asp-controller="Pizza">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Size1">Size</label>
                <select class="form-control" id="Size1" name="Size">
                    <option value=1>Twelve Inch</option>
                    <option value=2>Fifteen Inch</option>
                    <option value=3>Twenty Inch</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Crust1">Crust</label>
                <select class="form-control" id="Crust1" name="Crust">
                    <option value=1>Thin</option>
                    <option value=2>Deep Dish</option>
                    <option value=3>Cheese Filled</option>
                </select>
            </div>

            <div class="form-check">
                <input type="radio" class="form-check-input" id="group1" name="pizza">
                <label class="form-check-label" for="group1" value="Cheese">Cheese</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="group2" name="pizza" checked>
                <label class="form-check-label" for="group2" value="Pepperoni">Pepperoni</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="group3" name="pizza">
                <label class="form-check-label" for="group3" value="Sausage">Sausage</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="group4" name="pizza">
                <label class="form-check-label" for="group3" value="Meat Lovers">Meat Lovers</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="group5" name="pizza">
                <label class="form-check-label" for="group3" value="Hawaiian">Hawaiian</label>
            </div>

            <div class="form-group">
                <input type=number name=number min=1 max=100 class="form-control" id="exampleFormControlInput1" placeholder="Number Of Pizzas">
            </div>

            <div class="form-group">
                <input type="submit" value="Create Pizza" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Create" asp-controller="Order">Proceed to Checkout</a>
</div>

<div class="text-center">
    @*<button onclick="location.href='@Url.Action("Create", "Customer")'" type="button" class="btn btn-primary">Sign Up</button>*@
    <button onclick="location.href='@Url.Action("StorePortal", "Store")'" type="button" class="btn btn-primary">Return to Store Portal</button>
</div>




