
@{
    ViewData["Title"] = "Delete";
}
<form asp-action="CreateNewPizza" asp-controller="Pizza">
    <div class="text-center">
        @*<button onclick="location.href='@Url.Action("Create", "Customer")'" type="button" class="btn btn-primary">Sign Up</button>*@
        <button onclick="location.href='@Url.Action("StorePortal", "Store")'" type="button" class="btn btn-primary">Return to Store Portal</button>
    </div>
</form>

