@model IEnumerable<PizzaWebApplication.Models.StoreViewModel>
@*@model PizzaWebApplication.Models.StoreViewModel*@
@*Ctrl+k, Ctrl+c      Ctrl+K, Ctrl+u*@
@{
    ViewData["Title"] = "Index";
}

<h1>Locations</h1>




<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
            </tr>
        }
    </tbody>
</table>

